@import '../reset.css';
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(248, 250, 252);
}

.logo_container {
    width: 140px;
    height: 63px;
}

.logo_container img {
    pointer-events: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(248, 250, 252);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -99;
}

.aivle__link {
    position: absolute;
    width: 30vw;
    height: 100vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aivle__link h1 {
    color: white;
    font-family: GmarketSansMedium;
    font-size: 24px;
    margin-top: -100px;
    margin-bottom: 60px;
    padding-right: 40px;
}

.aivle__link img {
    width: 26vw;
    height: 300px;
    padding-left: 50px;
    pointer-events: none;
}

.comm__link {
    position: absolute;
    width: 30vw;
    height: 100vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 2;
}

.background__opacity {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: black;
    opacity: 0;
}

.App__rotate {
    border-radius: 20px;
    border: none;
    width: 400px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateY(0deg);
    box-shadow: 0 0 10px 5px rgb(225, 225, 226);
    background-color: white;
    margin-top: -35px;
    z-index: 3;
}

.top {
    width: inherit;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    height: 80px;
    box-shadow: 0 0 10px 0 rgb(225, 225, 226);
    background-color: #4876ef;
    z-index: 6;
}

.hole {
    position: absolute;
    background-color: rgb(248, 250, 252);
    opacity: 0.6;
    width: 70px;
    height: 1.5vh;
    border: none;
    box-shadow: 0 0 3px 0.5px rgb(225, 225, 226);
    border-radius: 20px;
    margin-top: 20px;
    z-index: 8;
}

.img__container {
    margin-top: 40px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: white;
}

.img__container img {
    pointer-events: none;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.info__text {
    position: absolute;
    bottom: 7%;
    font-size: 30px;
    z-index: 99;
    left: 50%;
    color: darkgray;
    transform: translateX(-50%);
}

.employee__card__text__container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.employee__card__text__container span:first-child {
    font-family: GmarketSansMedium;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 55px;
    margin-bottom: 40px;
}

.employee__card__text__container span:nth-child(2) {
    font-family: GmarketSansMedium;
    font-size: 18px;
    margin-bottom: 45px;
    padding-left: 55px;
}

.employee__card__text__container span:last-child {
    font-family: GmarketSansMedium;
    width: 400px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
