@import "./reset.css";

body {
  background-color: #f8fafc;
}

.logo {
  position: absolute;
  top: -20px;
  left: 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.neckless__container {
  display: flex;
}

.neckless_front {
  margin-top: -45px;
  margin-right: 20px;
  width: 30px;
  height: 170px;
  background-color: rgb(55, 63, 87);
  border-bottom-left-radius: 14px;
  transform: rotate(-25deg);
  z-index: 1;
}

.neckless_back {
  margin-top: -45px;
  width: 30px;
  height: 170px;
  margin-left: 35px;
  background-color: rgb(55, 63, 87);
  transform: rotate(30deg);
  border-bottom-right-radius: 100px;
  z-index: -99;
}

.App {
  border-radius: 20px;
  width: 356px;
  height: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(360deg);
  transition: all 1.5s ease-in-out;
  background-color: white;
  margin-top: -35px;
  box-shadow: 0 0 10px 5px rgb(225, 225, 226);
}

.App__rotate {
  border-radius: 20px;
  width: 356px;
  height: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(0deg);
  transition: all 1.5s ease-in-out;
  background-color: white;
  margin-top: -35px;
}

.top {
  width: inherit;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 80px;
  background-color: #4876ef;
}

.hole {
  position: absolute;
  background-color: #f8fafc;
  width: 70px;
  height: 1.5vh;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
}

.App h1 {
  margin-right: 155px;
  margin-top: 40px;
  font-size: 24px;
  color: white;
}

.img__container {
  margin-top: 40px;
  width: 170px;
  height: 170px;
  transform: scale(1);
  border-radius: 50%;
  transition: all 0.1s linear 0.7s;
  background-color: white;
}

.App_shadow {
  position: absolute;
  border: 2px solid black;
  border-radius: 15px;
  width: 30vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  z-index: -1;
}

.test {
  position: absolute;
  top: 30%;
  left: 20%;
}

#login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 3s linear;
  margin-top: 30px;
}

#login__form input {
  margin-top: 10px;
  width: 250px;
  border-radius: 15px;
  border: none;
  height: 50px;
  background-color: whitesmoke;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 0 3px 1px rgb(225, 225, 226);
}

.id_input,
.password_input {
  padding-left: 21px;
  padding-top: 20px;
}

.id_label {
  position: absolute;
  cursor: text;
  font-size: 13px;
  top: 204px;
  left: 80px;
  color: #8c8c8c;
  transition: all 0.2s linear;
}

.password_label {
  position: absolute;
  cursor: text;
  font-size: 13px;
  top: 264px;
  left: 80px;
  color: #8c8c8c;
  transition: all 0.2s linear;
}

.id_input:focus ~ .id_label {
  font-size: 10px;
  top: 198px;
  left: 76px;
  color: #8c8c8c;
  transition: all 0.2s linear;
}

.id_label__focused {
  position: absolute;
  font-size: 10px;
  top: 198px;
  left: 76px;
  color: #8c8c8c;
}

.password_input:focus ~ .password_label {
  font-size: 10px;
  top: 260px;
  left: 76px;
  color: #8c8c8c;
  transition: all 0.2s linear;
}

.password_label__focused {
  position: absolute;
  font-size: 10px;
  top: 260px;
  left: 76px;
  color: #8c8c8c;
}

.regist__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 13px;
  border: 1px solid white;
  margin-top: 40px;
}

.link__container {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 13px;
  border: 1px solid white;
  margin-top: 5px;
  opacity: 100%;
  transition: all 0.1s linear 0.7s;
}

.link__container a {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}

.regist__container a {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}

.span {
  text-decoration: none;
  margin-bottom: 20px;
}

.hidden,
#hidden {
  visibility: hidden;
  opacity: 0%;
}
