@keyframes setOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

body {
    background-image: linear-gradient(to left, #7a88ff, #7affaf);
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.employee__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
}

.logo_container {
    width: 140px;
    height: 63px;
}

.neckless__container {
    display: flex;
}

.neckless_front {
    margin-top: -120px;
    margin-right: 20px;
    width: 30px;
    height: 170px;
    background-color: #0a2b3a;
    border-bottom-left-radius: 14px;
    transform: rotate(-25deg);
    z-index: 1;
}

.neckless_back {
    margin-top: -120px;
    width: 30px;
    height: 170px;
    margin-left: 35px;
    background-color: #0a2b3a;
    transform: rotate(30deg);
    border-bottom-right-radius: 100px;
    z-index: -99;
}

.App__rotate {
    border-radius: 20px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    width: 356px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateY(0deg);
    transition: all 1.5s ease-in-out;
    box-shadow: 12px 10px 0px 0px #333;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: -35px;
}

.top {
    width: inherit;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    height: 80px;
    background-color: rgba(58, 134, 255, 0.6);
}

.hole {
    position: absolute;
    background-image: linear-gradient(to right, #7a88ff, #7affaf);
    opacity: 0.6;
    width: 70px;
    height: 1.5vh;
    border: 1px solid black;
    box-shadow: 0px 0px 0px 0px #333;
    border-radius: 20px;
    margin-top: 20px;
    z-index: -99;
}

.img__container {
    margin-top: 40px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: white;
}

.img__container img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.employee__card__text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.employee__card__text__container span {
    width: 200px;
    margin-top: 20px;
}

.input__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

.input__container h1 {
    font-size: 20px;
    margin-top: 50px;
}

.upload__img__container {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    margin-top: 40px;
}

.upload__img__container img {
    width: 150px;
    height: 150px;
}

.form__container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.form__container form input {
    box-sizing: border-box;
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
}

.form__container form input:last-child {
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
